@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

section, div {
    padding: 15px;
}

hr {
    padding-top: 20px;
}

h3 { 
    font-family: 'PT Serif', serif;
    font-size: 18px;
    margin: 2px;    
}

.box {
    padding: 5px;
    margin-left: 20px;
}

p, label, form {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    margin: 2px;
}

#form {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-field label {
  display: inline-block;
  width: 115px;
  text-align: right;
}

#dropdown {
    margin-left: 30px;
    padding: 5px;
}

.hind {
    float: right;
}

#calc {
    margin-left: 25px;
}

#clock {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'PT Serif', serif;
    letter-spacing: 3px;
}

input[type=submit] {
    background-color: #008000;
    color: #FFF;
    border-radius: 15px;
    border: none;
    font-family: 'PT Serif', serif;
    font-size: 24px;
    font-weight: 600;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#map {
    position: relative;
    width: 1000px;
    height: 300px;
    margin: auto;
}

/* minu looming */

:root {
  --form-control-color: #00FFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

form {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control:focus-within {
  color: var(--form-control-color);
}

input[type="radio"] {
  
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}